# Rules for (R)Pianophone

KERNEL=="sd??*", SUBSYSTEMS=="usb",	ACTION=="add",		RUN+="/home/pi/pianophone/scripts/copy.sh"
KERNEL=="sd*",				ACTION=="remove",	RUN+="/home/pi/pianophone/scripts/start.sh"
