ATTRS{idVendor}=="0a92", ATTRS{idProduct}=="2041", ACTION=="add",		RUN+="/home/pi/pianophone/scripts/soundcard_plug.sh"
ATTRS{idVendor}=="0a92", ATTRS{idProduct}=="2041", ACTION=="remove",		RUN+="/home/pi/pianophone/scripts/soundcard_unplug.sh"
